NODE_ENV=development
API_PORT=3001
WEB_PORT=3000
DATABASE_URL=postgresql://menu:menu@localhost:5432/menu_commerce?schema=public
MONGODB_URL=mongodb://menu:menu@localhost:27017/menu_commerce?authSource=admin
REDIS_URL=redis://localhost:6379
JWT_SECRET=troque-por-uma-chave-grande-e-aleatoria
JWT_EXPIRES_IN=8h
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=Admin@123456
